<div class="">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' },
    wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    }) do |f| %>
    
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h4>Edit <%= resource_name.to_s.humanize %></h4>
      </div>
      <div class="panel-body">
          <%= f.error_notification %>
    
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
    
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
    
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>
      </div>
      <div class="panel-footer">
        <div class="col-sm-offset-3">
          <%= f.button :submit, "Update" %>
          <%= link_to "Back", :back , class: "btn"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="">
  <div class="panel panel-danger">
    <div class="panel-heading">
      Cancel my account
    </div>
    <div class="panel-body">
      <h3></h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
