<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h4>Resend unlock instructions</h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Resend unlock instructions" %>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="col-sm-offset-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
