<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h4>Change your password</h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password, label: "New password", required: true, autofocus: true %>
          <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Change my password" %>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="col-sm-offset-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
