<header class="page-header clearfix">
  <div class="pull-left">
    <h1>Welcome#index <small>a.k.a the root routes</small></h1>
  </div>
  <div class="pull-right">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <%= link_to 'Default', "#", class: "btn btn-default" %>
        <%= link_to 'Primary', "#", class: "btn btn-primary" %>
        <%= link_to 'Success', "#", class: "btn btn-success" %>
      </div>
      <div class="btn-group">
        <%= link_to 'Info', "#", class: "btn btn-info" %>
        <%= link_to 'Warning', "#", class: "btn btn-warning" %>
        <%= link_to 'Danger', "#", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</header>

<p>Find me in app/views/welcome/index.html.erb</p>
