<div class="col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h4>Sign in</h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions col-sm-offset-3">
          <%= f.button :submit, "Sign in" %>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="col-sm-offset-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
