body {
  background-color: #f5f5f5
}
.wrapper-container {
  background-color: #fff;
  padding: 20px 0;
}
.navbar {
  margin-bottom: 0px;
}
.footer {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5
}
.footer-links li {
  display: inline;
  padding: 0 2px
}
.footer-links li:first-child {
  padding-left: 0
}
.page-header {
  margin: 0 0 20px 0;
  
  & > .pull-right {
    padding-top: 25px;
  }
}