<footer class="footer">
  <div class="container">
    <p class="pull-left text-muted">Copyright &copy; 2014-<%= Time.now.year %>  Wilmot</p>
    <ul class="footer-links pull-right">
      <li><%= link_to "Download the iPad App", "#" %></li>
      <li class="text-muted">·</li>
      <li><%= link_to "Developer", "#" %></li>
    </ul>
  </div>
</footer>