<% flash.each do |key, value| %>
  <% case key
    when "alert"
      key = "danger"
    when "notice"
      key = "success"
    end %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <p>
        <%= value %>
      </p>
  </div>
<% end %>